<!-- navbar -->
<app-navbar></app-navbar>

<!-- content -->
<h1>Home</h1>


<table class="table">
        <thead>
        <th>id</th>
        <th>nombre</th>
        <th>lastname</th>
        <th>email</th>
        <th>age</th>
        <th>sex</th>
        </thead>
        <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td>{{user.age}}</td>
            <td>{{user.sex}}</td>
        </tr>
        </tbody>
        </table>
        
        <form #login = "ngForm" (ngSubmit) = "onClickSubmit(login.value)" >
            <div class="form-group col-md-4">     
                <input class="form-control" type = "text" name = "email" placeholder = "email" ngModel>
            </div>    
            <div class="form-group col-md-4">
                <input class="form-control" type = "password" name = "pwd" placeholder = "password" ngModel>
            </div>   
            <input class = "btn btn-primary" type = "submit" value = "submit">
        </form>
<!-- footer -->
<app-footer></app-footer>